<div class="row">
	<div class="span4">
		<div class="well well-small">
			<h1 class="text-center">Listing books</h1>
		</div>
	</div>
	<div class="span8"></div>
</div>		
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Author</th>
    <th>Branch</th>
    <th>Publication</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
	<% if book.user_id == current_user.id%>
	  <tr>
	    <td><%= book.name %></td>
	    <td><%= book.price %></td>
	    <td><%= book.author %></td>
	    <td><%= book.branch %></td>
	    <td><%= book.publication %></td>
	    <td><%= link_to '<i class=icon-plus-sign></i> Show'.html_safe, book, :class => "btn btn-success" %></td>
	    <td><%= link_to '<i class=icon-pencil></i> Edit'.html_safe, edit_book_path(book), :class => "btn btn-warning" %></td>
	    <td><%= link_to '<i class=icon-remove></i> Destroy'.html_safe, book, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
	  </tr>
	<% else %>
		<p class="text-error"> No records found </p> 
	<% end %>
<% end%>
</table>

<br />

<%= link_to 'New Book', new_book_path, :class => "btn btn-success" %>
