<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Branch:</b>
  <%= @book.branch %>
</p>

<p>
  <b>Publication:</b>
  <%= @book.publication %>
</p>


<%= link_to 'Edit', edit_book_path(@book), :class => "btn btn-primary" %> |
<%= link_to 'Back', books_path, :class => "btn btn-warning"  %>
